body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-image: url("https://img3.akspic.ru/crops/4/1/1/8/5/158114/158114-vedma_iz_bler-psihologicheskij_uzhas-studii_lionsgate-nashli_kadry-komanda_postoyannye-3840x2160.jpg");
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  /* background-size: cover; //Covers the entire viewport */
}
